		<% if !@job.nil? %>
		<ul class="button-group [radius round]">
	      <li><a href="/job_seekers/<%= @job_seeker.id %>/pass/<%= @job.id %>" class="button alert">Pass</a></li>
	      <li><a href="/job_seekers/<%= @job_seeker.id %>/apply/<%= @job.id %>" class="button success">Apply</a></li>
	    </ul>
	    <% end %>
        <section class="main-section container judge">
          <% if !@job.nil? %>
          <article class="user_profile">

            <section class="row profile_top">
              <img src="/front/images/ga_logo.png" class="small-3 columns">    
              <div class="user_info small-9 columns">
                <span><%= @job_recruiter.company %></span>
                <span><%= @job.name %></span>
                <span><%= @job_location.name %></span>
              </div>
            </section>
            <h4 class="row">Job Description</h4>
            <div class="row job">
              <div class="panel callout radius">
                <%= @job.description %>
              </div>
            </div>
<!--             <h4 class="row">Responsibilities</h4>
            <div class="row job">
              <div class="panel callout radius">
                <ul>
                  <li>2+ years of experience in marketing within digital or traditional media</li>
                  <li>2+ years of experience in marketing within digital or traditional media</li>
                  <li>2+ years of experience in marketing within digital or traditional media</li>
                  <li>2+ years of experience in marketing within digital or traditional media</li>
                </ul>
              </div>
            </div> -->

          </article>
          <% else %>
			<h4 class="row">There are currently no open positions</h4>
          <% end %>
        </section>